*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

img{
    width: 100%;
}
.container{
    width: 1180px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.mt-76{
    margin-top: 76px;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.nav_link{
    list-style: none;
    display: flex !important; 
    gap: 36px;
}
.ToggleNav {
    width: 20px;
    display: none;
}

.secondary_btn{
    width: 102px;
    height: 51px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #6C63FF;
}
.primary_btn{
    width: 102px;
    height: 51px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: #6C63FF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.banner_content_wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.banner_content_wrapper h1{
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #2F2E41;
}
.banner_content_wrapper p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}
.clients{
    gap: 102px;
    justify-content: center;
}
.learn-more{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #2F2E41;
    background: rgb(255,255,255);
    width: 100px;
    height: 22px;
    border: none;
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(197,194,255,1) 50%);
}


#mt-76-chooseyourplan{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container-chooseyourplan {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-chooseyourplan {
    height: 100%;
}
#mt-76-chooseyourplan h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -1px;
}
.plans {
    position: relative;
    margin-top: 50px;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plans * {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.plan1 {
    height: 80%;
    background-color: rgba(236, 235, 255, 0.3);
}
.subcontainer1 {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.subcontainer1 article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27%;
    width: 100%;
}
.subcontainer1 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #717082;
    width: 100%;
}
.subcontainer1 h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    width: 100%;
    text-align: center;
    letter-spacing: -2px;
    color: #2F2E41;
}
.subcontainer1 button {
    background: none;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #6C63FF;
    height: 46px;
    width: 135px;
}
.plan2 {
    height: 100%;
    background: #6C63FF;
}
.subcontainer2 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.subcontainer2 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
}
.subcontainer2 h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    width: 100%;
    text-align: center;
    letter-spacing: -2px;
    color: #ffffff;
    width: 230px;
    
}
.subcontainer2 h1 sub {
    font-size: 20px;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    transform: translate(-4px, 12px)
}
.subcontainer2 article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21.5%;
    width: 100%;
}
.subcontainer2 button {
    background: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #6C63FF;
    height: 46px;
    width: 185px;
    transform: translateY(-12px)
}
.plan3 {
    height: 80%;
    background-color: rgba(236, 235, 255, 0.3);
}
.subcontainer3 {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.subcontainer3 article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27%;
    width: 100%;
}
.subcontainer3 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #717082;
    width: 100%;
}
.subcontainer3 h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    width: 245px;
    text-align: center;
    letter-spacing: -2px;
    color: #2F2E41;
}
.subcontainer3 h1 sub {
    font-size: 20px;
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    transform: translate(-4px, 12px)
}
.subcontainer3 button {
    background: none;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #6C63FF;
    height: 46px;
    width: 135px;
}

#letstalk-container {
    position: relative;
    height: 380px;
    background: #2F2E41;
    border-radius: 2px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#letstalk-container :nth-child(1){
    margin-left: 10%;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 290px;
}
#letstalk-container :nth-child(2){
    margin-right: 10%;
    width: 166px;
    height: 49px;
    background: #6C63FF;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
footer {
    position: relative;
    background: rgba(236, 235, 255, 0.6);
    margin: 0 auto;
    height: 570px;
    width: 1520px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footernavs {
    height: 300px;
    position: relative;
    width: 94%;
    margin-left: 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 130px;
}
.footernavs nav {
    height: 240px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#nav3 {
    position: relative;
    height: 105px;
    bottom: 70px;
}
#nav4 {
    position: relative;
    height: 75px;
    bottom: 90px;
}
.footernavs nav p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #717082;
}
.footernavs nav :nth-child(1) {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #2F2E41;
}

.socmedias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}
.socmedias img{
    width: 32px;
    height: 35px;
    margin: 0; 
}

.cpbottom {
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cpbottom p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9893A3;
}






@media only screen and (max-width: 1366px) { 
    .container {
      width: 90%;
  
    }
    footer {
        width: 100%;
    }
    .banner_content_wrapper{
      width: 45%;
  
    }
    .banner_img_wrapper {
      width: 50%;
    }
    .clients{
      gap: 20px;
    }
  
  }
  
  
  @media only screen and (max-width: 992px) { 
  
    .container {
      width: 90%;
    }
    .nav_link li{
        display: none;
    }
    .ToggleNav {
        display: block;
        cursor: pointer;
    }
    .btn_container {
        display: none
    }
    .desktop {
      display: none !important;
    }
    #mt-76-chooseyourplan {
        align-items: flex-start;
    }
    .chooseyourplanh {
        margin-left: 20px;
    }
    .plans {
        margin-top: 1050px;
        width: 100%;
        height: 1600px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .plan1, .plan2, .plan3 {
        transform: translateX(-15px);
        width: 105%;
        height: 32%;
        margin: 0;
    }
    #letstalk-container {
        margin-top: 1200px;
    }
  }
  
  
  
  
  @media only screen and (max-width: 600px) {   
    .desktop {
      display: none !important;
    }
  
    .clients{
      gap: 30px;
    }
  
    .container {
      width: 90%;
    }
    .banner_content_wrapper h1{
      font-style: normal;
      font-weight: 700;
      font-size: 46px;
      line-height: 40px;
      letter-spacing: -1px;
      color: #2F2E41;
    }
  
    .reverse{
      flex-direction: column-reverse;
    }
  
    .banner_content_wrapper{
      width: 100%;
  
    }
    .banner_img_wrapper {
      width: 100%;
    }
    #letstalk-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #letstalk-container :nth-child(1) {
        font-size: 30px;
        line-height: 32px;
        text-align: center;
    }
    #letstalk-container :nth-child(2) {
        margin-left: 80px;
    }
    footer {
        height: 600px;
    }
    footer .footernavs {
        margin-top: -350px;
        position: relative;
        height: 25%;
        flex-wrap: wrap;
        width: 500px;
        top: 40px;
    }
    #nav3 {
        bottom: -235px;
        right: 335px;
    }
    #nav4 {
        bottom: -61px;
        left: 165px;
    }
    .cpbottom {
        position: relative;
        margin: 0;
        top: 350px;
    }
  }
  
